[Desktop Entry]
Type=Application
Name=Sync Clock
Comment=Synchronize the system clock with network time
Exec=bash -lc "bash $HOME/nixos-config/sync-clock.sh"
Icon=preferences-system-time
Terminal=true
Categories=System;
StartupNotify=true
